 @import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700,800,900");
 
  body {
    display:none;
    background:#fff;
    color: #2D2D2D;	
    font-family: "Open Sans", Arial, sans-serif;	
    font-size: 14px;	
    line-height: 19px;	
    text-align: center;
  }

  #header {
    background: linear-gradient(135deg, #00A0E3 0%, #D82A90 100%);
    padding:30px;
  }
  
  .qb-icon {	
    height: 9.77%;	
    width: 6.94%;	
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
  }

  .logo {
    display: inline-block;
  }

  h1 {
    color: #FFFFFF;	
    font-family: "Open Sans", Arial, sans-serif;	
    font-size: 24px;	
    font-weight: bold;	
    line-height: 33px;	
    text-align: center;
  }

  h2 {
    color: #2D2D2D;	
    font-family: "Open Sans", Arial, sans-serif;	
    font-size: 18px;	
    line-height: 24px;	
    text-align: center;
    width:240px;
    display:inline-block;
  }

  .btn {
    border-radius: 7px;	
    font-family: "Open Sans", Arial, sans-serif;	
    font-size: 18px;	
    font-weight: bold;
    text-align: center;
    box-shadow: 0 6px 18px 0 rgba(0,0,0,0.2);
    width:240px;
    height:50px;
    line-height:1;
  }

  .btn-blue {
    color: #FFFFFF;	
    background-color: #00A0E3;
  }

  .btn-blue:hover {
    color: #FFFFFF !important;	
    background-color: #00A0E3;
  }

  #enter-pin #send-pin {
    width:240px;
  }

  .boxed-sm {
    width:240px;
  }

  .boxed-m {
    width:320px;
  }

  .section-bg {	
    height: 210px;	
    width: 100%;	
    background: linear-gradient(135deg, #00A0E3 0%, #007CB1 100%);
  }

  .qb-icon-small {
    height:20px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=text] {
    min-width:240px;
    border: 2px solid #CCCCCC;	
    border-radius: 7px;	
    background-color: #FFFFFF; 
    min-height:40px;
    padding:3px;
  }

  textarea {
    min-width:240px;
    border: 2px solid #CCCCCC;	
    border-radius: 7px;	
    background-color: #FFFFFF; 
    min-height:35px;
    padding:10px 12px;
    min-height:100px;
    color: #2D2D2D;	
    font-family: "Open Sans", Arial, sans-serif;	
    font-size: 14px;	
    font-weight: 600;	
    line-height: 19px;
  }

  #pincode {
    width:240px;
    border: 2px solid #CCCCCC;	
    color:#2d2d2d;
    border-radius: 7px;	
    background-color: #FFFFFF; 
    text-align:center;
    font-size:46px;
    padding-bottom:7px;
    font-family: verdana;
    padding-left:26px;
    letter-spacing:24px;
    height:40px;
    overflow:hidden;
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }

  #QRcode {
    min-width:240px;
    max-width:240px;
  }
  
  .text-error {
    display:none;
    color:red;
    padding:5px 0px;
  }

  @media (max-width: 576px) {
    #pincode {
      font-size:30px;
      line-height:30px;
      padding-bottom:10px;
      padding-left:40px;
    }

    #pincode::-webkit-input-placeholder ,
    #pincode::placeholder ,
    #pincode:-ms-input-placeholder,
    #pincode::placeholder {
      padding-bottom:0px;
      line-height:40px;
      font-size:40px;
    }
  }

/* ---------------------------------------------------------------------- */
/*  Utilities
/* ---------------------------------------------------------------------- */

  .btn-border-white {
    border: solid white 1px;
  }

  .btn-border-black {
    border: solid black 1px;
  }

  .row-centered {
      text-align:center;
  }

  .col-centered {
      display:inline-block;
      float:none;
      margin-right:-4px;
  }

  .no-padding {
    padding: 0 !important;
  }

  .no-margin {
    margin: 0 !important;
  }

  .inline {
    display: inline;
  }

  .no-radius {
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0 !important;
  }

  .no-border {
    border: none !important;
  }

  .no-border-top {
    border-top: none !important;
  }

  .no-border-bottom {
    border-bottom: none !important;
  }

  .no-border-left {
    border-left: none !important;
  }

  .no-border-right {
    border-right: none !important;
  }

  .border-right {
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
  }

  .border-left {
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
  }

  .border-top {
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
  }

  .border-bottom {
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.07) !important;
  }

  .border-light {
    border-color: rgba(255, 255, 255, 0.2) !important;
  }

  .border-around {
    border: 1px solid #c8c7cc !important;
  }

  .panel-white .border-light, .partition-white .border-light {
    border-color: rgba(0, 0, 0, 0.07) !important;
  }

  .border-dark {
    border-color: rgba(0, 0, 0, 0.2);
  }

  .panel-white .border-dark, .partition-white .border-dark {
    border-color: rgba(0, 0, 0, 0.3) !important;
  }

  .block {
    display: block !important;
  }

  .inline-block {
    display: inline-block !important;
  }

  .no-display {
    display: none !important;
  }

  .display-table {
    display: table !important;
  }

  .display-table-cell {
    display: table-cell !important;
  }

  .example {
    margin: 15px 0;
    padding: 14px 19px;
  }

  .space5 {
    display: block;
    margin-bottom: 5px !important;
    clear: both;
  }

  .space7 {
    margin-bottom: 7px !important;
    clear: both;
  }

  .space10 {
    margin-bottom: 10px !important;
    clear: both;
  }

  .space12 {
    margin-bottom: 12px !important;
    clear: both;
  }

  .space15 {
    margin-bottom: 15px !important;
    clear: both;
  }

  .space20 {
    margin-bottom: 20px !important;
    clear: both;
  }

  .padding-5 {
    padding: 5px !important;
  }

  .padding-10 {
    padding: 10px !important;
  }

  .padding-15 {
    padding: 15px !important;
  }

  .padding-20 {
    padding: 20px !important;
  }

  .padding-25 {
    padding: 25px !important;
  }

  .padding-30 {
    padding: 30px !important;
  }

  .padding-35 {
    padding: 35px !important;
  }

  .padding-40 {
    padding: 40px !important;
  }

  .padding-horizontal-5 {
    padding: 0 5px !important;
  }

  .padding-horizontal-10 {
    padding: 0 10px !important;
  }

  .padding-horizontal-15 {
    padding: 0 15px !important;
  }

  .padding-horizontal-20 {
    padding: 0 20px !important;
  }

  .padding-vertical-10 {
    padding: 10px 0 !important;
  }

  .padding-vertical-15 {
    padding: 15px 0 !important;
  }

  .padding-vertical-20 {
    padding: 20px 0 !important;
  }

  .padding-bottom-0 {
    padding-bottom: 0px !important;
  }

  .padding-bottom-5 {
    padding-bottom: 5px !important;
  }

  .padding-bottom-10 {
    padding-bottom: 10px !important;
  }

  .padding-bottom-15 {
    padding-bottom: 15px !important;
  }

  .padding-bottom-20 {
    padding-bottom: 20px !important;
  }

  .padding-bottom-25 {
    padding-bottom: 25px !important;
  }

  .padding-bottom-30 {
    padding-bottom: 30px !important;
  }

  .padding-bottom-35 {
    padding-bottom: 35px !important;
  }

  .padding-bottom-40 {
    padding-bottom: 40px !important;
  }

  .padding-bottom-45 {
    padding-bottom: 45px !important;
  }

  .padding-bottom-50 {
    padding-bottom: 50px !important;
  }

  .padding-top-0 {
    padding-top: 0px !important;
  }

  .padding-top-5 {
    padding-top: 5px !important;
  }

  .padding-top-10 {
    padding-top: 10px !important;
  }

  .padding-top-15 {
    padding-top: 15px !important;
  }

  .padding-top-20 {
    padding-top: 20px !important;
  }

  .padding-top-25 {
    padding-top: 25px !important;
  }

  .padding-top-30 {
    padding-top: 30px !important;
  }

  .padding-top-35 {
    padding-top: 35px !important;
  }

  .padding-top-40 {
    padding-top: 40px !important;
  }

  .padding-top-45 {
    padding-top: 45px !important;
  }

  .padding-top-50 {
    padding-top: 50px !important;
  }

  .padding-top-55 {
    padding-top: 55px !important;
  }

  .padding-top-60 {
    padding-top: 60px !important;
  }

  .padding-top-65 {
    padding-top: 65px !important;
  }

  .padding-top-70 {
    padding-top: 70px !important;
  }

  .padding-left-0 {
    padding-left: 0px !important;
  }

  .padding-left-5 {
    padding-left: 5px !important;
  }

  .padding-left-10 {
    padding-left: 10px !important;
  }

  .padding-left-15 {
    padding-left: 15px !important;
  }

  .padding-left-20 {
    padding-left: 20px !important;
  }

  .padding-left-25 {
    padding-left: 25px !important;
  }

  .padding-left-30 {
    padding-left: 30px !important;
  }

  .padding-left-35 {
    padding-left: 35px !important;
  }

  .padding-left-40 {
    padding-left: 40px !important;
  }

  .padding-left-45 {
    padding-left: 45px !important;
  }

  .padding-left-50 {
    padding-left: 50px !important;
  }

  .padding-left-55 {
    padding-left: 55px !important;
  }

  .padding-left-60 {
    padding-left: 60px !important;
  }

  .padding-left-65 {
    padding-left: 65px !important;
  }

  .padding-left-70 {
    padding-left: 70px !important;
  }

  .padding-left-75 {
    padding-left: 75px !important;
  }

  .padding-left-80 {
    padding-left: 80px !important;
  }

  .padding-left-85 {
    padding-left: 85px !important;
  }

  .padding-left-90 {
    padding-left: 90px !important;
  }

  .padding-right-0 {
    padding-right: 0px !important;
  }

  .padding-right-5 {
    padding-right: 5px !important;
  }

  .padding-right-10 {
    padding-right: 10px !important;
  }

  .padding-right-15 {
    padding-right: 15px !important;
  }

  .padding-right-20 {
    padding-right: 20px !important;
  }

  .padding-right-25 {
    padding-right: 25px !important;
  }

  .padding-right-30 {
    padding-right: 30px !important;
  }

  .padding-right-35 {
    padding-right: 35px !important;
  }

  .padding-right-40 {
    padding-right: 40px !important;
  }

  .padding-right-45 {
    padding-right: 45px !important;
  }

  .padding-right-50 {
    padding-right: 50px !important;
  }

  .padding-right-55 {
    padding-right: 55px !important;
  }

  .padding-right-60 {
    padding-right: 60px !important;
  }

  .padding-right-65 {
    padding-right: 65px !important;
  }

  .padding-right-70 {
    padding-right: 70px !important;
  }

  .padding-right-75 {
    padding-right: 75px !important;
  }

  .padding-right-80 {
    padding-right: 80px !important;
  }

  .padding-right-85 {
    padding-right: 85px !important;
  }

  .padding-right-90 {
    padding-right: 90px !important;
  }

  .margin-negative-5 {
    margin: -5px !important;
  }

  .margin-5 {
    margin: 5px !important;
  }

  .margin-10 {
    margin: 10px !important;
  }

  .margin-15 {
    margin: 15px !important;
  }

  .margin-20 {
    margin: 20px !important;
  }

  .margin-25 {
    margin: 25px !important;
  }

  .margin-30 {
    margin: 30px !important;
  }

  .margin-35 {
    margin: 35px !important;
  }

  .margin-40 {
    margin: 40px !important;
  }

  .margin-bottom-0 {
    margin-bottom: 0px !important;
  }

  .margin-bottom-5 {
    margin-bottom: 5px !important;
  }

  .margin-bottom-10 {
    margin-bottom: 10px !important;
  }

  .margin-bottom-15 {
    margin-bottom: 15px !important;
  }

  .margin-bottom-20 {
    margin-bottom: 20px !important;
  }

  .margin-bottom-25 {
    margin-bottom: 25px !important;
  }

  .margin-bottom-30 {
    margin-bottom: 30px !important;
  }

  .margin-bottom-35 {
    margin-bottom: 35px !important;
  }

  .margin-bottom-40 {
    margin-bottom: 40px !important;
  }

  .margin-bottom-45 {
    margin-bottom: 45px !important;
  }

  .margin-bottom-50 {
    margin-bottom: 50px !important;
  }

  .margin-top-0 {
    margin-top: 0px !important;
  }

  .margin-top-5 {
    margin-top: 5px !important;
  }

  .margin-top-10 {
    margin-top: 10px !important;
  }

  .margin-top-15 {
    margin-top: 15px !important;
  }

  .margin-top-20 {
    margin-top: 20px !important;
  }

  .margin-top-25 {
    margin-top: 25px !important;
  }

  .margin-top-30 {
    margin-top: 30px !important;
  }

  .margin-top-35 {
    margin-top: 35px !important;
  }

  .margin-top-40 {
    margin-top: 40px !important;
  }

  .margin-top-45 {
    margin-top: 45px !important;
  }

  .margin-top-50 {
    margin-top: 50px !important;
  }

  .margin-right-0 {
    margin-right: 0px !important;
  }

  .margin-right-5 {
    margin-right: 5px !important;
  }

  .margin-right-10 {
    margin-right: 10px !important;
  }

  .margin-right-15 {
    margin-right: 15px !important;
  }

  .margin-right-20 {
    margin-right: 20px !important;
  }

  .margin-right-25 {
    margin-right: 25px !important;
  }

  .margin-right-30 {
    margin-right: 30px !important;
  }

  .margin-right-35 {
    margin-right: 35px !important;
  }

  .margin-right-40 {
    margin-right: 40px !important;
  }

  .margin-right-45 {
    margin-right: 45px !important;
  }

  .margin-right-50 {
    margin-right: 50px !important;
  }

  .margin-left-0 {
    margin-left: 0px !important;
  }

  .margin-left-5 {
    margin-left: 5px !important;
  }

  .margin-left-10 {
    margin-left: 10px !important;
  }

  .margin-left-15 {
    margin-left: 15px !important;
  }

  .margin-left-20 {
    margin-left: 20px !important;
  }

  .margin-left-25 {
    margin-left: 25px !important;
  }

  .margin-left-30 {
    margin-left: 30px !important;
  }

  .margin-left-35 {
    margin-left: 35px !important;
  }

  .margin-left-40 {
    margin-left: 40px !important;
  }

  .margin-left-45 {
    margin-left: 45px !important;
  }

  .margin-left-50 {
    margin-left: 50px !important;
  }

  .min-height-50 {
    min-height: 50px !important;
  }

  .min-height-55 {
    min-height: 55px !important;
  }

  .min-height-60 {
    min-height: 60px !important;
  }

  .min-height-65 {
    min-height: 65px !important;
  }

  .min-height-70 {
    min-height: 70px !important;
  }

  .min-height-75 {
    min-height: 75px !important;
  }

  .min-height-80 {
    min-height: 80px !important;
  }

  .min-height-85 {
    min-height: 85px !important;
  }

  .min-height-90 {
    min-height: 90px !important;
  }

  .min-height-95 {
    min-height: 95px !important;
  }

  .min-height-100 {
    min-height: 100px !important;
  }

  .min-height-105 {
    min-height: 105px !important;
  }

  .min-height-110 {
    min-height: 110px !important;
  }

  .min-height-115 {
    min-height: 115px !important;
  }

  .min-height-120 {
    min-height: 120px !important;
  }

  .min-height-125 {
    min-height: 125px !important;
  }

  .min-height-130 {
    min-height: 130px !important;
  }

  .min-height-135 {
    min-height: 135px !important;
  }

  .min-height-140 {
    min-height: 140px !important;
  }

  .min-height-145 {
    min-height: 145px !important;
  }

  .min-height-150 {
    min-height: 150px !important;
  }

  .min-height-155 {
    min-height: 155px !important;
  }

  .min-height-180 {
    min-height: 180px !important;
  }

  .min-height-200 {
    min-height: 200px !important;
  }

  .min-height-230 {
    min-height: 230px !important;
  }

  .min-height-250 {
    min-height: 250px !important;
  }

  .min-height-270 {
    min-height: 270px !important;
  }

  .min-height-280 {
    min-height: 280px !important;
  }

  .min-height-300 {
    min-height: 300px !important;
  }

  .min-height-350 {
    min-height: 350px !important;
  }

  .height-50 {
    height: 50px !important;
  }

  .height-55 {
    height: 55px !important;
  }

  .height-60 {
    height: 60px !important;
  }

  .height-65 {
    height: 65px !important;
  }

  .height-70 {
    height: 70px !important;
  }

  .height-75 {
    height: 75px !important;
  }

  .height-80 {
    height: 80px !important;
  }

  .height-85 {
    height: 85px !important;
  }

  .height-90 {
    height: 90px !important;
  }

  .height-95 {
    height: 95px !important;
  }

  .height-100 {
    height: 100px !important;
  }

  .height-105 {
    height: 105px !important;
  }

  .height-110 {
    height: 110px !important;
  }

  .height-115 {
    height: 115px !important;
  }

  .height-120 {
    height: 120px !important;
  }

  .height-125 {
    height: 125px !important;
  }

  .height-130 {
    height: 130px !important;
  }

  .height-135 {
    height: 135px !important;
  }

  .height-140 {
    height: 140px !important;
  }

  .height-145 {
    height: 145px !important;
  }

  .height-150 {
    height: 150px !important;
  }

  .height-155 {
    height: 155px !important;
  }

  .height-180 {
    height: 180px !important;
  }

  .height-185 {
    height: 185px !important;
  }

  .height-200 {
    height: 200px !important;
  }

  .height-210 {
    height: 210px !important;
  }

  .height-220 {
    height: 220px !important;
  }

  .height-230 {
    height: 230px !important;
  }

  .height-250 {
    height: 250px !important;
  }

  .height-270 {
    height: 270px !important;
  }

  .height-300 {
    height: 300px !important;
  }

  .height-330 {
    height: 330px !important;
  }

  .height-350 {
    height: 350px !important;
  }

  .width-50 {
    width: 50px !important;
  }

  .width-100 {
    width: 100px !important;
  }

  .width-150 {
    width: 150px !important;
  }

  .width-200 {
    width: 200px !important;
  }

  .max-width-50 {
    max-width: 50px !important;
  }

  .max-width-100 {
    max-width: 100px !important;
  }

  .max-width-150 {
    max-width: 150px !important;
  }

  .max-width-200 {
    max-width: 200px !important;
  }

  .vertical-align-bottom {
    vertical-align: bottom !important;
  }

  .vertical-align-middle {
    vertical-align: middle !important;
  }

  .vertical-align-top {
    vertical-align: top !important;
  }

  .large-letters {
    font-size: 60px;
  }

  .text-muted {
    color: #9b9b9f;
  }

  .text-bold {
    font-weight: 600 !important;
  }

  .text-extra-small {
    font-size: 11px !important;
  }

  .text-small {
    font-size: 12px !important;
  }

  .text-large {
    font-size: 16px !important;
  }

  .text-extra-large {
    font-size: 17px !important;
  }

  h1.text-extra-large {
    font-size: 50px !important;
  }

  .text-primary {
    color: #58748B !important;
  }

  .text-grey {
    color: #c8c7cc !important;
  }

  .text-azure {
    color: #5B9BD1 !important;
  }

  .text-orange {
    color: #F18636 !important;
  }

  .text-green {
    color: #5A8770 !important;
  }

  .text-blue {
    color: #407887 !important;
  }

  .text-pink {
    color: #F5888D !important;
  }

  .text-purple {
    color: #9A89B5 !important;
  }

  .text-bricky {
    color: #894550 !important;
  }

  .text-yellow {
    color: #EEB424 !important;
  }

  .text-red {
    color: red !important;
  }

  .text-info {
    color: #46b8da !important;
  }

  .text-white {
    color: #ffffff !important;
  }

  a.text-white {
    color: rgba(255, 255, 255, 0.6) !important;
  }
  a.text-white:hover {
    color: #ffffff !important;
  }

  .text-dark {
    color: #5b5b60 !important;
  }

  a.text-dark:hover {
    color: #6f6f74 !important;
  }

  .text-light {
    color: #9b9b9f !important;
  }

  a.text-light:hover {
    color: #86868c !important;
  }

  .text-white-transparent {
    color: rgba(255, 255, 255, 0.7) !important;
  }

  .text-dark-transparent {
    color: rgba(44, 47, 59, 0.7) !important;
  }

  /* Buttons Styling */

  .btn .focus, .btn:focus, .btn:hover {color: inherit;}

  .btn-primary:hover, .btn-primary:focus {
      color: #ffffff;
  }

  .btn-info:hover, .btn-info:focus {
      color: #ffffff;
  }

  .btn-success:hover, .btn-success:focus {
      color: #ffffff;
  }

  .btn-warning:hover, .btn-warning:focus {
      color: #ffffff;
  }

  .btn-danger:hover, .btn-danger:focus {
      color: #ffffff;
  }

  /* Light Grey Button */

  .qb-btn-lgrey {
      background-color: #e5e5e5 !important;
      color: #505050 !important;
  }

  .qb-btn-lgrey-hoac, .qb-btn-lgrey:hover, .qb-btn-lgrey:active, .qb-btn-lgrey:focus {
      background-color: #cbcbcb;
      color: #505050;
  }

  /* Dark Grey Button */

  .qb-btn-dgrey {
      background-color: #4c4c4c;
      color: #ffffff;
  }

  .qb-btn-dgrey-hoac, .qb-btn-dgrey:hover, .qb-btn-dgrey:active, .qb-btn-dgrey:focus {
      background-color: #323232;
      color: #ffffff;
  }

  /* Blue Button */

  .qb-btn-blue {
      background-color: #00a0e3;
      color: #ffffff;
  }

  .qb-btn-blue-hoac, .qb-btn-blue:hover, .qb-btn-blue:active, .qb-btn-blue:focus {
      background-color: #008fcb;
      color: #ffffff;
  }

  /* Pink Button */

  .qb-btn-pink {
      background-color: #d82a90;
      color: #ffffff;
  }

  .qb-btn-pink-hoac, .qb-btn-pink:hover, .qb-btn-pink:active, .qb-btn-pink:focus {
      background-color: #c1257c;
      color: #ffffff;
  }

  /* Green Button */

  .qb-btn-green {
      background-color: #50b748 !important;
      color: #ffffff !important;
  }

  .qb-btn-green-hoac, .qb-btn-green:hover, .qb-btn-green:active, .qb-btn-green:focus {
      background-color: #47a440 !important;
      color: #ffffff !important;
  }

  /* Orange Button */

  .qb-btn-orange {
      background-color: #f16528;
      color: #ffffff;
  }

  .qb-btn-orange-hoac, .qb-btn-orange:hover, .qb-btn-orange:active, .qb-btn-orange:focus {
      background-color: #d85a23;
      color: #ffffff;
  }

  /* Yellow Button */

  .qb-btn-yellow {
      background-color: #f2dc0b;
      color: #000000;
  }

  .qb-btn-yellow-hoac, .qb-btn-yellow:hover, .qb-btn-yellow:active, .qb-btn-yellow:focus {
      background-color: #d9c509;
      color: #000000;
  }

  /* Red Button */

  .qb-btn-red {
      background-color: #cf2125;
      color: #ffffff;
  }

  .qb-btn-red-hoac, .qb-btn-red:hover, .qb-btn-red:active, .qb-btn-red:focus {
      background-color: #b91d21;
      color: #ffffff;
  }

  /* Transparent Button */

  .qb-btn-transparent {
      background-color: transparent;
      color: white;
  }

  .qb-btn-transparent-hoac, .qb-btn-transparent:hover, .qb-btn-transparent:active, .qb-btn-transparent:focus {
      background-color: white;
      color: #333;
  }

  /* Black Button */

  .qb-btn-black {
      background-color: #2d2d2d;
      color: white !important;
  }

  .qb-btn-black-hoac, .qb-btn-black:hover, .qb-btn-black:active, .qb-btn-black:focus {
      background-color: #000000;
      color: white !important;
  }


  /* White Button */

  .qb-btn-white {
      background-color: white;
      color: #333 !important;
  }

  .qb-btn-white-hoac, .qb-btn-white:hover, .qb-btn-white:active, .qb-btn-white:focus {
      background-color: #f5f5f5 !important;
      color: #333 !important;
  }

  /* Telegram Button */

  .qb-btn-telegram {
      background-color: #0088cc;
      color: #ffffff !important;
  }

  .qb-btn-telegram-hoac, .qb-btn-telegram:hover, .qb-btn-telegram:active, .qb-btn-telegram:focus {
      background-color: #007ab7 !important;
      color: #ffffff !important;
  }

  .required:before {
    content: "*";
    display: inline;
    color: #E6674A;
  }

  .has-success:before {
    content: "\f00c";
    display: inline;
    font-family: FontAwesome;
    color: #468847;
  }

  .has-error:before {
    content: "\f00d";
    display: inline;
    font-family: FontAwesome;
    color: #C82E29;
  }

  .has-warning:before {
    content: "\f071";
    display: inline;
    font-family: FontAwesome;
    color: #eea236;
  }