<section id="enter-pin" class="container-fluid margin-bottom-20">
  <div class="container">
    <div class="row">
      <div class="text-center margin-bottom-20">
        <h2>@@h2</h2>
      </div>
     </div>
     <div class="row">
      <div class="text-center margin-bottom-20">
        <input name="mycode" id="pincode" type="number" maxlength="4" pattern="[0-9]{4}" inputmode="numeric" placeholder="····" autocomplete="off">
        <p class="text-error">Wrong PIN</p>
      </div>
     </div>
     <div class="row">
      <div class="text-center margin-bottom-30">
        <button name="send-pin" class="btn btn-blue" id="send-pin">@@btnText</button>
      </div>
    </div>
  </div>
</section>
