<footer id="footer" class="container-fluid margin-top-50 padding-top-50">
  <div class="container boxed-sm">
    <div class="row">
      <div class="text-center margin-bottom-15">
        <p>Powered by qiibee <img src="/images/qb-icon-dark.png" alt="" class="qb-icon-small"/></p>
      </div>
    </div>
    <div class="row">
      <div class="text-center margin-bottom-30">
        <p>Loyalty on the blockchain.<br/><a href="https://qiibee.com" target="_blank">More on qiibee.com</a></p>
        <p><a href="https://static.qiibee.com/qiibee-Terms-Conditions.pdf" target="_blank">Terms and Conditions</a><br><a href="https://static.qiibee.com/qiibee-Privacy-Policy.pdf" target="_blank">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- build:scripts -->
<script type="text/javascript" src="src/scripts/bundle.js"></script>
<script type="text/javascript" src="src/scripts/qiibee.js"></script>
<!-- endbuild -->